@tailwind base;
@tailwind components;
@tailwind utilities;

.chroma-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  mix-blend-mode: difference; /* Adjust this to achieve the desired chroma key effect */
}
